/* immagini sovrapposte */

.CTA-img {
  position: relative;
  padding: 0;
}
.CTA-img img.sfondo {
  border-width: 0;
  margin: 0;
  padding: 0;
}
.CTA-img img.sopra {
  border-width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* corsi */

.corsi {
  margin-top: 20rem;
}

.training-img {
  border-radius: 0;
  filter: opacity(60%);
  border: 10px solid black;
}

/* debug */
.mm {
  color: aliceblue;
  fill: currentColor;
  background-color: black;
}
/* +++++ */

footer {
  background-color: black;
  color: lightgrey;
}

.logo-footer {
  width: 200px;
  padding-bottom: 1rem;
}

.social {
  font-size: 1.5rem;
}

.social i {
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  padding: 10px;
}
