:root {
  --dark-bg: #000000;
  --light-bg: #fbfbfb;
  --lighter-bg: #ffffff;
  --grey-bg: #f5f5f5;
  --expert-bg: linear-gradient(
    to bottom,
    var(--grey-bg) 0px,
    var(--grey-bg) 25vh,
    var(--light-bg) 25vh,
    var(--light-bg) 100vh
  );
  --packs-bg: linear-gradient(
    175deg,
    var(--dark-bg) 0px 25vh,
    var(--dark-bg) 25vh,
    var(--lighter-bg) 25vh,
    var(--lighter-bg) 100vh
  );
}

body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* HEADER NAV */

.header-nav-dropdown {
  justify-content: center;
  color: var(--dark-bg);
  z-index: 1;
}

.header-svg {
  width: 50px;
  height: 50px;
  fill: var(--light-bg);
}

.nav-list > li {
  margin: 0 30px;
  list-style-type: none;
  cursor: pointer;
}

/* JUMBO **********************************************/

.jumbo-text {
  width: 25%;
  font-weight: 900;
  color: var(--light-bg);
  position: absolute;
  bottom: 50%;
  left: 16%;
}

.jumbo-text > h1 {
  font-size: 3rem;
  font-weight: 900;
}

.btn-jumbo {
  background-color: var(--dark-bg);
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  top: 55%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  top: 55%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* immagini sovrapposte */

.CTA-img {
  position: relative;
  padding: 0;
}
.CTA-img img.sfondo {
  border-width: 0;
  margin: 0;
  padding: 0;
}
.CTA-img img.sopra {
  border-width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-svg {
  width: 15%;
  height: 15%;
}

/* corsi */

.corsi {
  margin-top: 20rem;
}

.training-img {
  border-radius: 0;
  filter: opacity(60%);
  border: 15px solid black;
}

.card-corso {
  position: relative;
}

.view-label {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
  padding: 10px 15px;
  background-color: #000000;
}

.card-corso:hover .view-label {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  position: static;
  display: block;
  text-align: center;
  opacity: 1;
  width: 50px;
  height: 50px;
  border: 2px solid var(--dark-bg);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000000;
}
/* EVENTS */
.event-btn {
  padding: 3px 7px;
  border: none;
  font-size: 0.8rem;
  color: rgb(112, 107, 107);
}

.event-text {
  font-size: 0.8rem;
}

.date {
  font-size: 0.8rem;
  background-color: var(--grey-bg);
}
/* TEAM TRAINERS*/
.trainers-section {
  background-image: var(--expert-bg);
}

.trainers-card {
  cursor: pointer;
  border: 10px solid var(--grey-bg);
}

.trainers-img {
  height: 200px;
  width: auto;
  object-fit: cover;
  object-position: top;

  opacity: 1;
  display: block;

  transition: 0.5s ease;
  backface-visibility: hidden;
}

.trainers-img-container:hover .trainers-img {
  opacity: 0.5;
}

/* price */
.card-price {
  background-image: var(--packs-bg);
}

.card-price-text {
  color: var(--light-bg);
}

/* FOOTER */
footer {
  background-color: black;
  color: lightgrey;
}

footer h3 {
  color: var(--lighter-bg);
}

.logo-footer {
  width: 200px;
  padding-bottom: 1rem;
}

.social {
  font-size: 1.5rem;
}

.social i {
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  padding: 10px;
}

footer li {
  padding-left: 0.5rem;
  list-style-type: none;
  color: var(--lighter-bg);
}

/************************************************/
.feature {
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.feature:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0;
  background-color: var(--dark-bg);
  transition: all 0.33s ease;
  z-index: 10;
}

.feature .details {
  position: absolute;
  color: var(--light-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  z-index: 15;
}

.feature:hover:before {
  height: 100%;

  opacity: 1;
  z-index: 10;
}

.feature:hover .details {
  opacity: 1;
  transition: all 0.33s ease 0.2s;
  width: 100%;
}
